<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuzssp.campussecondhandtradingplatform_backend.mapper.ProductImageMapper">
    <select id="selectByProductIds"
            resultType="com.cuzssp.campussecondhandtradingplatform_backend.common.entity.ProductImage">
        SELECT * FROM product_image
        WHERE product_id IN
            <foreach collection='productIds' item='pid' open='(' separator=',' close=')'>
                #{pid}
            </foreach>
        ORDER BY sort_order ASC
    </select>
</mapper>